body{
    font-family: sans-serif;
}
.course-item{
    display: flex;
    flex-direction: column;
}
 head{
    color:aqua;
    border-radius: 800%;
    text-transform: capitalize;
}

#about{
display:flex;
height: 300px;
width: 300px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.course-item{
    display: flex;
    flex-direction: right;
    width: 300px;
}

img{
    border-radius:500%;
    float:right;
    height: 300px;
    width: 300px;
}

#p{
    text-align: center;
}
#testimonials{
    display: flex;
    flex-direction: column;
    width: 300px;
}
